body {
    background: #B9D8FF;
}

.registration-form {
    width: 300px;
    margin: 0 auto;
}

.input-div {
    width: 150px;
    margin-bottom: 20px;
}

.submit-button {
    width: 240px;
}

.header-link {
    margin-left: 10px;
    margin-right: 10px;
}

.header {
    text-align: right;
}

.account {
    width: 600px;
    border: 1px solid black;
    display: flex;
    margin: 0 auto;
}

.account-element {
    width: 200px;
    text-align: center;
}