<h2>Information about application:</h2>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Registration
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Register your account in our system to share your music with others!<br>
      Please provide login, email and password twice in our form.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Login
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Login if you want to add and rate some music!</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        My account
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>You can check your account details here.</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Songs
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      List all songs in our system. You can filter them by band name and genre.<br>Page pagination works here too!
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Add song
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Use this panel to add your song to the system.<br>You need to provide song's title, band name and lyrics.<br>
      You can also add clip from youtube and set genre.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Other users
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      You can see users which are registered in our system!<br>
      Just click on the cell to go to user's details. Here you can see all user's songs!
    </p>
  </mat-expansion-panel>
</mat-accordion>
