<h2>Information about application:</h2>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Registration
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Register your account in our system to share your music with others!<br>
      Please provide login, email and password twice in our form.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Login
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Login if you want to add and rate some music!</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        User info
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>You can check your account details here.</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Something
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Something
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Something
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Something
    </p>
  </mat-expansion-panel>
</mat-accordion>
