<form [formGroup]="updateSongForm" (ngSubmit)="onSubmit()">

    <div class="form-container">
        <h2>Add Song:</h2>

        <mat-form-field appearance="outline">
            <mat-label>Band</mat-label>
            <input matInput placeholder="Band" formControlName="band">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Title" formControlName="title">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Genre</mat-label>
            <input matInput placeholder="Genre" formControlName="genre">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Video URL (copy from your address bar)</mat-label>
            <input matInput placeholder="Video URL" formControlName="videoURL">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Lyrics</mat-label>
            <textarea matInput placeholder="Lyrics" formControlName="lyrics"></textarea>
        </mat-form-field>

        <input hidden formControlName="user">
        <input hidden formControlName="_id">
        <button mat-raised-button color="primary" type="submit" class="simple-button">Submit</button>
    </div>

</form>
