<div class="container">
    <div class="song-details-container">
        <h2>Song Details:</h2>

        <mat-list>
            <h3 mat-subheader>Band:</h3>
            <mat-list-item>
                <h4 mat-line>{{song?.band}}</h4>
            </mat-list-item>
            <mat-divider></mat-divider>
            <h3 mat-subheader>Genre:</h3>
            <mat-list-item>
                <h4 mat-line>{{song?.genre}}</h4>
            </mat-list-item>
            <mat-divider></mat-divider>
            <h3 mat-subheader>Title:</h3>
            <mat-list-item>
                <h4 mat-line>{{song?.title}}</h4>
            </mat-list-item>
            <mat-divider></mat-divider>
            <h3 mat-subheader>Video:</h3>
            <iframe width="560" height="315" [src]='this.safeUrl' frameborder="0" allowfullscreen></iframe>
            <mat-divider></mat-divider>
            <h3 mat-subheader>Lyrics:</h3>
            <div class="song-lyrics">
                {{song?.lyrics}}
            </div>
        </mat-list>

        <button *ngIf="canEdit" mat-raised-button color="primary" class="simple-button">Edit</button>
    </div>
</div>
