<h2>All songs:</h2>

<h3>Options: </h3>
<div class="filters">
    <mat-checkbox *ngIf="this.userId" #onlyMySongs (change)="this.filterDataSource()" class="checkbox-margin">Show only my songs</mat-checkbox>
    <mat-form-field>
        <mat-label>Band filter</mat-label>
        <mat-select (selectionChange)="filterWithBand($event.value)">
            <mat-option *ngFor="let band of this.bands" [value]="band">{{band}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Genre filter</mat-label>
        <mat-select (selectionChange)="filterWithGenre($event.value)">
            <mat-option *ngFor="let genre of this.genres" [value]="genre">{{genre}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef>Title:</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="band">
        <mat-header-cell style="cursor: pointer" *matHeaderCellDef (click)="sortBand()">Band:</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.band}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="genre">
        <mat-header-cell style="cursor: pointer" *matHeaderCellDef (click)="sortGenre()">Genre:</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.genre}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns; let i = index" [routerLink]="[row._id]"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
