<h2>Your route history:</h2>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef>Title:</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="band">
        <mat-header-cell *matHeaderCellDef >Band:</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.band}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="genre">
        <mat-header-cell *matHeaderCellDef>Genre:</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.genre}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></mat-row>
</mat-table>
