mat-table {
    margin-bottom: 20px;
}

mat-row:hover {
    background: #D0D0D0;
}

mat-form-field {
    margin-right: 30px;
}

mat-cell {
    cursor: pointer;
}

.checkbox-margin {
    display:block;
    margin-bottom: 20px;
    margin-right: 30px;
    margin-top: 15px;
}

.filters {
    display: flex;
}
